/**Styling the background image**/
body, html {
	height: 100%;
}
.parallax1, .parallax2, .parallax3 {
  	position: relative;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: -1;
  	opacity: 0.85;
}
.parallax1 {
	background-position: bottom;
	background-image: url("Saber_Luke.jpg");
	height: 100%;
}
.parallax2 {
	background-position: center;
	background-image: url("https://static.pexels.com/photos/23179/pexels-photo.jpg");
	height: 100%;
}
.parallax3 {
	background-position: bottom;
	background-image: url("https://static.pexels.com/photos/7095/people-coffee-notes-tea-large.jpg");
	height: 100%;
}
#footer {
  width: 100%;
  color: #111111;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}
.caption {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font: 2em "Lato", sans-serif;
  vertical-align: middle;
  animation-name: fadeinslide;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.caption span.border {
  background-color: #FFFFFF;
  color: #111111;
  padding: 18px;
  letter-spacing: 6px;
}
#whitespace {
  width: 100%;
  color: white;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}
#texttitle {
  color: #111111;
  opacity: 0;
  font: 2em "Lato", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 1em;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
#description {
  color: black;
  opacity: 0;
  text-align: center;
  font: 1em "Lato", sans-serif;
  letter-spacing: 2px;
  padding-left: 6%;
  padding-right: 6%;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
/**Styling the Navigation Bar**/
ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #FFFFFF;
	opacity: 0.95;
	position: fixed;
	width: 100%;
	z-index: 100;
	left: 0px;
	top: 0px;
	font: 120% "Lato", sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
/**Styling the navigation bar**/
li {
  float: left;
}
/**Styling the Navigation Bar**/
li a {
	display: block;
	color: #111111;
	text-align: center;
	padding : 1em 1.2em;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-delay: 0.2s;
}
/**Styling the Navigation Bar on hover**/
li a:hover{
	background-color: #111111;
	color: #FFFFFF;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-delay: 0s;
}
/**Styling the navigation bar when one page is selected**/
.active {
	background-color: #A6A6A6;
}
/**Stopping the hover animation for selected pages on the Navigation Bar**/
.active:hover{
	background-color: #A6A6A6;
	color: #111111;
}
/**Fade in animation**/
@keyframes fadeinslide {
	from {opacity: 0;}
	to {opacity: 1;}
  from {padding-top: 4%;}
  to {padding-top: 0%;}
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}