/**Styling the background image**/
body, html {
	height: 100%;
}
.parallax1, .parallax2 {
  	position: relative;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: -1;
}
.parallax1 {
	background-position: bottom;
	background-image: url("https://images.unsplash.com/photo-1468912229911-3089a757b813?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f2a25b0ece27ad5ddfca14950551c7f5");
	height: 100%;
}
.parallax2 {
	background-position: center;
	background-image: url("https://images.unsplash.com/photo-1445498059992-f5a276e1218d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f8252e5e61ac8fe565475fe7270a5d49");
	height: 100%;
}
/**Styling my image**/
.myimg {
	opacity: 1;
	padding-top: 5%;
	animation-name: myimgfadein;
  	animation-duration: 1s;
  	animation-delay: 1s;
  	animation-fill-mode: forwards;
  	z-index: 10;
  	vertical-align: middle;
}
/**Styling my name**/
#myname {
	z-index: 2;
	opacity: 0;
	color: white;
	text-align: center;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2.3em;
	animation-name: fadeintop;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
/**Styling the description text**/
#description {
	z-index: 2;
	color: white;
	opacity: 0;
	text-align: center;
	font-size: 1.2em;
	font-family: sans-serif;
	animation-name: fadeinleft;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}
/**Styling the reload button**/
#aboutbtn {
	z-index: 2;
	opacity: 0;
	background-color: #0088FF;
	border: 1px solid #0055FF;
	padding: 0.5em 1em;
	border-radius: 0.1em;
	color: white;
	cursor: pointer;
	animation-duration: 2s;
	animation-name: fadeincenter;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
#whitespace {
  width: 100%;
  color: white;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}
#bornzim {
  color: #111111;
  font: 2em "Lato", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 1em;
}
#zimdescription {
  color: black;
  text-align: center;
  font: 1em "Lato", sans-serif;
  letter-spacing: 2px;
  padding-left: 6%;
  padding-right: 6%;
}
/**Styling the Navigation Bar**/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0088FF;
	position: fixed;
	width: 100%;
	z-index: 100;
	left: 0px;
	top: 0px;
	font-size: 1.1em;
	font-style: "Lato", sans-serif;
	letter-spacing: 1px;
}
/**Styling the navigation bar**/
li {
	float: left;
}
/**Styling the Navigation Bar**/
li a {
	display: block;
	color: white;
	text-align: center;
	padding : 1em 1.2em;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-delay: 0.2s;
}
/**Styling the Navigation Bar on hover**/
li a:hover{
	background-color: white;
	color: #0088FF;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-delay: 0s;
}
/**Styling the navigation bar when one page is selected**/
.active {
	background-color: #0099FF;
}
/**Stopping the hover animation for selected pages on the Navigation Bar**/
.active:hover{
	background-color: #0099FF;
	color: white;
}
/**Fade in image of me**/
@keyframes myimgfadein {
    from {opacity: 0;}
    to {opacity: 1;}
    from {padding-top: 4%;}
    to {padding-top: 5%;}
}
/**Fade in animation coming from top**/
@keyframes fadeintop {
	from {opacity: 0;}
	to {opacity: 1;}
	from {padding-top: 5%;}
	to {padding-top: 0%}
}
/**Fade in animation coming from left**/
@keyframes fadeinleft {
	from {opacity: 0;}
	to {opacity: 1;}
	from {padding-right: 10%;}
	to {padding-right:0%;}
}
/**Fade in animation coming from center**/
@keyframes fadeincenter{
	from {opacity: 0;}
	to {opacity: 1;}
}