/**Styling the background image**/
#bgroundimg {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}
/**Styling the Navigation Bar**/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0088FF;
	position: fixed;
	width: 100%;
	z-index: 100;
	left: 0px;
	top: 0px;
	font-size: 1.1em;
	font-style: "Lato", sans-serif;
	letter-spacing: 1px;
}
/**Styling the navigation bar**/
li {
	float: left;
}
/**Styling the Navigation Bar**/
li a {
	display: block;
	color: white;
	text-align: center;
	padding : 1em 1.2em;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-delay: 0.2s;
}
/**Styling the Navigation Bar on hover**/
li a:hover{
	background-color: white;
	color: #0088FF;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-delay: 0s;
}
/**Styling the navigation bar when one page is selected**/
.active {
	background-color: #0099FF;
}
/**Stopping the hover animation for selected pages on the Navigation Bar**/
.active:hover{
	background-color: #0099FF;
	color: white;
}